div.row
  div.span5
    h3 Add Route
  div.span5
    div.alert(ng-show='error')
      button.close(type='button', data-dismiss='alert')
      {{error}} 
div.row
  div.span5
    form(ng-submit='addRoute()')
      fieldset
        p
          input(autofocus='true', type='number', size='4', placeholder='Number', ng-model='route.number')
        p
          input(type='text', size='4', placeholder='Target Track', ng-model='route.name')
        p
          input(type='text', size='4', placeholder='Orientation', ng-model='route.orientation')

        p
          button.btn(type='submit') Add
  div.span5
    div.well(ng-repeat='routedTurnout in route.routedTurnouts')
      p
        input(type='number', placeholder='Turnout Number', ng-model='routedTurnout.number')
        select(ng-model='routedTurnout.state')
          option left
          option right
          option straight
          option curved
    div
      p
        input(type='number', placeholder='Turnout Number', ng-model='newRoutedTurnout.number')
        select(ng-model='newRoutedTurnout.state')
          option left
          option right
          option straight
          option curved
        br
        button.btn(ng-click='addRoutedTurnout()') Add

