div.row
  div.span10
    h3 Add Turnout Gruop
div.row
  div.span5
    form(ng-submit='addTurnoutGroup()')
      fieldset
        p
          input(autofocus='true', type='text', size='12', placeholder='Name', ng-model='turnoutGroup.name')
        p
          button.btn(type='submit') Add