div.row
  div.span12
    h3 Turnouts
div.row
  div.span12
    a.btn(href='addTurnoutGroup') Add Turnout Group 
      i.icon-plus
div.row
  div.span10

div.row(ng-repeat='turnoutGroup in turnoutGroups')
  div.span10
    
    div(style='font-size: 17.5px;line-height:40px;font-weight:bold;') {{turnoutGroup.name}} 
      div.btn-group.turnoutGroup.editRemove
        a.btn(href='editTurnoutGroup/{{turnoutGroup._id}}')
          i.icon-edit
        button.btn(ng-click='removeTurnoutGroup(turnoutGroup._id)')
          i.icon-remove

    div(ng-repeat='turnout in turnoutGroup.turnouts')
      div.well.turnout
        div.turnout.number
          {{turnout.number}} | 
          {{turnout.type}}
        div.turnout.address
          {{turnout.bus1}}/{{turnout.address1}} | {{turnout.bus2}}/{{turnout.address2}}
        div.btn-group.turnout.editRemove
          a.btn(ng-href='editTurnout/{{turnout._id}}')
            i.icon-edit
          button.btn(ng-click='removeTurnout(turnout._id)')
            i.icon-remove
    div
      a.btn(href='addTurnout/{{turnoutGroup._id}}')
        i.icon-plus


