div.row
  div.span12
    h3 Turnouts
div.row
  div.span12
    div.input-append
      input(type='text', placeholder='New turnout group', ng-model='turnoutGroupName')
      button.btn(ng-click='addTurnoutGroup()') Add
div.row
  div.span10

div.row(ng-repeat='turnoutGroup in turnoutGroups')
  div.span10
    
    h4 {{turnoutGroup.name}}
    a.btn(href='addTurnout/{{turnoutGroup._id}}')
      i.icon-plus

    div.well.turnout(ng-repeat='turnout in turnoutGroup.turnouts')
      div.turnout.number
        {{turnout.number}} | 
        {{turnout.type}}
      br
      div.btn-group.turnout.editRemove
        a.btn(ng-href='editTurnout/{{turnout._id}}')
          i.icon-edit
        button.btn(ng-click='deleteTurnout(turnout._id)')
          i.icon-remove


