div.row
    div.span10
        h3 Edit Route Gruop
div.row
    div.span5
        form(ng-submit='editRouteGroup()')
            fieldset
                p
                    input(autofocus='true', type='text', size='12', placeholder='Name', ng-model='routeGroup.name')
                p
                    button.btn(type='submit') Edit
    div.span5
        div.alert(ng-show='error')
            button.close(type='button', data-dismiss='alert')
            {{error}}