div.row
    div.span5
        h3 Edit Route
    div.span5
        div.alert(ng-show='error')
            button.close(type='button', data-dismiss='alert')
            {{error}}
div.row
    div.span5
        h4 Route
        form.form-horizontal(ng-submit='editRoute()')
            fieldset
                div.control-group
                    label.control-label Number
                    div.controls
                        input(autofocus='true', type='number', size='4', placeholder='Number', ng-model='route.number')
                div.control-group
                    label.control-label Name
                    div.controls
                        input(type='text', size='4', placeholder='Target Track', ng-model='route.name')
                div.control-group
                    label.control-label Orientation
                    div.controls
                        input(type='text', size='4', placeholder='Orientation', ng-model='route.orientation')
                div.control-group
                    div.controls
                        button.btn(type='submit') Edit
    div.span5
        h4 Routed Turnouts
        div.well(ng-repeat='routedTurnout in route.routedTurnouts')
            p
                | Number: {{routedTurnout.number}}
            p
                select(ng-model='routedTurnout.state')
                    option LEFT
                    option RIGHT
                    option STRAIGHT
                    option CURVED
            p
                button.btn(ng-click='removeRoutedTurnout(routedTurnout)')
                    i.icon-remove
        div
            p
                select(type='number', placeholder='Turnout Number', ng-model='newRoutedTurnout.number')
                    option(ng-repeat='turnout in turnouts') {{turnout.number}}
            p
                select(ng-model='newRoutedTurnout.state')
                    option LEFT
                    option RIGHT
                    option STRAIGHT
                    option CURVED
                br
                button.btn(ng-click='addRoutedTurnout()') Add

