div.row
    div.span12
        h3 Locomotives
div.row
    div.span12
        a.btn(href='addLocomotiveGroup') Add Locomotive Group
            i.icon-plus
div.row
    div.span10

div.row(ng-repeat='locomotiveGroup in locomotiveGroups')
    div.span10

        div(style='font-size: 17.5px;line-height:40px;font-weight:bold;')
            {{locomotiveGroup.name}}
            div.btn-group.locomotiveGroup.editRemove
                a.btn(href='editLocomotiveGroup/{{locomotiveGroup.id}}')
                    i.icon-edit
                button.btn(ng-click='removeLocomotiveGroup(locomotiveGroup.id)')
                    i.icon-remove

        div(ng-repeat='locomotive in locomotiveGroup.locomotives')
            div.well.locomotive
                div.locomotive.number
                    {{locomotive.name}} |
                    {{locomotive.type}}
                div.locomotive.address Bus {{locomotive.bus}} / Address {{locomotive.address1}}, {{locomotive.address2}}
                div.btn-group.locomotive.editRemove
                    a.btn(ng-href='editLocomotive/{{locomotive.id}}')
                        i.icon-edit
                    button.btn(ng-click='removeLocomotive(locomotive.id)')
                        i.icon-remove
        div
            a.btn(href='addLocomotive/{{locomotiveGroup.id}}')
                i.icon-plus

        div.row
            div.span3
        button.btn(ng-click='clearLocomotives()', style='margin-top:30px;')
            i.icon-remove(style='padding-right:10px;')
            | Remove all Locomotives


        div(ng-repeat='locomotive in locomotives')
            span {{locomotive.id}}
