extends layout

block body
    div.container(ng-controller='AppCtrl')
        div.navbar.navbar-inverse
            div.navbar-inner
                a.brand(href="#") AdHoc-Railway
                ul.nav
                    li
                        a(href='turnouts') Turnouts
                    li
                        a(href='routes') Routes
                    li
                        a(href='locomotives') Locomotives
        div.row
            div.span12
                div(ng-view)