!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title AdHoc-Railway
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    block body