Makefile.in
compile
man/de/Makefile.in
man/Makefile.in
src/config.h
src/config.h.in
src/Makefile.in

*.o
srcpd
.deps
Makefile
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
config.log
config.status
configure
man/Makefile
man/de/Makefile
src/Makefile
